template(name='footer')
  nav.footer-nav
    ul
      //- TODO: I could do better than simply linking ot /notes|archive Would be
      //-       better to go to the archives or notes for the currently selected
      //-       client with ID intact in the URL
      if currentUser
        li: a(href='/notes/me') Notes
        li: a(href='/clients') Clients
        li: a(href='/archive/me') Archive
      else
        li: a(href='/') Home
      li: a(href='/demo') Demo
      li: a(href='/feedback') Feedback
  .copy.right
    p.small &copy; Ian Sinnott #{currentYear}
