template(name='footer')
  nav.footer-nav
    ul
      //- TODO: I could do better than simply linking ot /notes|archive Would be
      //-       better to go to the archives or notes for the currently selected
      //-       client with ID intact in the URL
      if currentUser
        li: a(href='/notes/me') Notes
        li: a(href='/clients') Clients
        li: a(href='/archive/me') Archive
      else
        li: a(href='/') Home
      li: a(href='/offline') Offline
      li: a(href='/feedback') Feedback
      li: a(href='/faq') FAQ
  .copy.right
    p.small &copy; Ian Sinnott #{currentYear}

  if isProduction
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57574929-1', 'auto');
      ga('send', 'pageview');
