template(name='miniDemo')
  .window(id!=id)
    .title-bar
      p.title= title
    .content
      +newNoteInput

      ul#power-notes
        #actions
          each actions
            +demoPowerNote
        #questions
          each questions
            +demoPowerNote

      ul#notes
        if hasTempDemoNotes
          each notes
            +demoNote
        else
          li.no-records
            h4 
              | You don't have any demo notes.
            p Add some using the input above.
