body
  background #fafafa

.slide-down
  display none

.alert
  color white
  padding 10px
  border-radius 3px
.alert-success
  background green
  border 1px solid darken(green, 10%)
  color lighten(green, 80%)
.alert-error
  background red
  border 1px solid darken(red, 10%)
  color lighten(red, 80%)
