template(name='clientsHeader')
  .page-title
    h2.header-center Clients
template(name='clients')
  .container
    #new-client
      input(type='text', placeholder='New Client...')
      i.fa.fa-users

    #clients
      if hasClients
        each clients
          +client
      else
        li.no-records
          h4 Your clients are empty.
          p Add some using the input above.

    #client-archives
      if hasClientsArchive
        h3.underline
          i.fa.fa-archive
          | Archived Clients
        each archived_clients
          +archivedClient
