template(name='clientsHeader')
  .client-select-box
    .client-select
      h2.header-center Clients
template(name='clients')
  .container
    #new-client
      input(type='text', placeholder='New Client...')
      i.fa.fa-users

    #clients
      if hasClients
        each clients
          +client
      else
        li.no-records
          h4 Your clients are empty.
          p Add some using the input above.

    #client-archives
      if hasClientsArchive
        each archived_clients
          +archivedClient
