head
  title NoteDown | Clients

template(name='clients')
  .container
    #new-client
      input(type='text', placeholder='New Client...')
      i.fa.fa-users

    #clients
      if hasClients
        each clients
          +client
      else
        li.no-records
          h4 You don't have any clients yet.
          p Add one using the input above.

    #client-archives
      if hasClientsArchive
        each archived_clients
          +archivedClient
      else
        li.no-records
          p Archived clients will appear here
