template(name='appLayout')
  header#header
    .container
      nav.right
        +loginButtons(align='right')
  section#main-wrapper
    +yield
  footer#footer
    .container
      nav.footer-nav
        ul
          li: a(href='/') Home
          li: a(href='/demo') Demo
          li: a(href='/feedback') Feedback
      .copy.right
        p.small &copy; Ian Sinnott 2014

