template(name='appLayout')
  header#header
    .container
      .logo-small.left
        a(href='/notes')
          | Note
          span.code Down
      nav.right.login-out
        +loginButton
      +yield('header')
  section#main-wrapper
    +yield
  footer#footer
    .container
      nav.footer-nav
        ul
          if currentUser
            li: a(href='/notes') Notes
          else
            li: a(href='/') Home
          li: a(href='/demo') Demo
          li: a(href='/feedback') Feedback
      .copy.right
        p.small &copy; Ian Sinnott 2014

