template(name='appLayout')
  header#header
    .container
      .logo-small.left
        a(href='/notes')
          | Note
          span.code Down
      nav.right.login-out
        +loginButton
      +yield('header')
  section#main-wrapper
    +yield
  footer#footer
    .container
      +footer
