template(name='archivedNote')
  .note.archived
    ul.table
      li.cell.text= note
      li.cell.date= created_at
      li.cell: button.restore(href='#'): i.fa.fa-level-up
      li.cell: button.delete(href='#'): i.fa.fa-times
