template(name='archive')
  +contentFor('header')
    .page-title
      h2.header-center Archived Notes

  .container
    #note-controls
      if hasClients
        +clientSelect
    if hasPowerNotesArchive
      ul#power-notes
        if hasActions
          #actions
            each actions
              +archivedPowerNote

        if hasQuestions
          #questions
            each questions
              +archivedPowerNote

    #notes
      if hasArchive
        each archived_notes
          +archivedNote
      else
        .no-records
          h4 
            if hasClients
              | You haven't archived any notes for
              span.hl #{currentClient}.
            else
              | You haven't archived any notes.
          p
            | Notes can be archived from by clicking the
            i.fa.fa-archive
            | icon on any note.

