template(name='note')
  .note
    ul.table
      li.cell.note-cell
        p.text= note
        textarea.text-edit.hidden(rows='1')= note
      li.cell.date-cell: p.date= formatDate
      li.cell.button-cell: button.archive(href='#'): i.fa.fa-archive
