// Will be rendered in the header
template(name='notesHeader')
  .page-title
    h2.header-center Notes
      

// Rendered in the main app area
template(name='notes')
  .container
    #new-note
      input(type='text', placeholder='New Note...')
      i.fa.fa-edit
    if showAlert
      .alert-info.mb.mt.no-clients
        h4 You don't have any clients yet
        p Any notes you create will be personal notes. If you'd like to add 
          | notes for someone else, add a new client:
        .controls
          a.btn-blue.small.close-redirect(href='/clients#new')
            i.fa.fa-plus
            | Add Client
          a.btn-blue-o.small.close(href='#')
            i.fa.fa-times
            | Close this message 

    #note-controls
      if hasClients
        +clientSelect

    if hasPowerNotes
      ul#power-notes
        if hasActions
          #actions
            each actions
              +powerNote

        if hasQuestions
          #questions
            each questions
              +powerNote

    ul#notes
      if hasNotes
        each notes
          +note
      else
        li.no-records
          h4 
            | You don't have any notes 
            if hasClients
              | for
              span.hl #{currentClient}.
            else
              | .
          p Add some using the input above.

