head
  title NoteDown | Notes

// Will be rendered in the header
template(name='notesHeader')
  .client-select-box
    .client-select
      select#select2.dib
        option
        option(value='1') Dude Bro
        option(value='2') Face House
        option(value='3') Happy Ending
        option(value='4') Rage Gator
      

// Rendered in the main app area
template(name='notes')
  .container
    #new-note
      input(type='text', placeholder='New Note...')
      i.fa.fa-edit

    h1 All Notes
    ul#notes
      if notes
        each notes
          +note
      else
        li.no-records
          h4 You don't have any notes yet.
          p Add one using the input above.

    h1 Archives
    ul#archives
      if archived_notes
        each archived_notes
          +archivedNote
      else
        li You have no archived notes
