global-reset()

// Variables {{{
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$font = 'Helvetica Neue', Helvetica, Arial, sans-serif
code-font = "Courier New", "Menlo", monospace

// Colors
gray = #EEEEEE
light-gray = #dadada

// }}} END Variables

// General {{{
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

*
  box-sizing border-box
body
  font-family $font

.slide-down
  display none

.alert
  color white
  padding 10px
  border-radius 3px
.alert-success
  background green
  border 1px solid darken(green, 10%)
  color lighten(green, 80%)
.alert-error
  background red
  border 1px solid darken(red, 10%)
  color lighten(red, 80%)

.container
  max-width 800px
  margin 0 auto

nav
  li
    display inline-block
    &:first-child
      a
        padding-left 0
    &:last-child
      a
        margin-right 0
  a
    display block
    padding-right 10px
    padding-left 10px

a
  color blue
  &:hover
    text-decoration underline

h1
h2
h3
p
  color black
  margin-bottom 20px
  &.center
    text-align center

h1
  font-size 48px
  font-weight 500
h2
  font-size 28px
  font-weight 500
h3
  font-size 24px
p
  font-size 18px
  line-height 1.4

.code
  font-family code-font

// A div that is meant to look like a finder window
.window
  background white
  border-radius 3px
  border 1px solid darken(gray, 10%)
  box-shadow 0 2px 3px rgba(0, 0, 0, 0.5)
  .title-bar
    background gray
    text-align center
    background linear-gradient(top, gray, #d4d4d4)
    border-bottom 1px solid darken(gray, 20%)
    p
      line-height 28px
      font-size 15px
      font-weight bold
      color #797979
      margin 0

.right
  float right
.left
  float left

#main-wrapper
  padding-top 0
  margin-top 0
  padding-bottom 50px

section
  margin-bottom 50px
  margin-top 50px

.slim
  max-width 600px
  margin 0 auto

// }}} END General

// Landing {{{
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.user-email
  color darken(gray, 30%)
  margin 0
  line-height 37px // Happens to be the hight of the sign in button

#header
  background #fafafa
#banner
  margin-top 0
  background #fafafa
  overflow hidden
  border-bottom 1px solid darken(gray, 10%)
  margin-bottom 50px
#pitch
  h2
    margin-bottom 50px

#mini-demo
  width 100%
  height 500px
  position relative
  bottom -5px
  h1 // Temporary
    position absolute
    text-align center
    top 50%
    left 0
    right 0

h1.super
  font-size 66px
  .code
    font-size 82px
    margin-left -20px

.ctas
  max-width 600px
  margin 0 auto
  margin-top 50px
  text-align center
  a
    display inline-block
    &:first-child
      margin-right 50px

.btn
  text-decoration none
  font-weight bold
  color black
  padding 20px 25px
  background darken(gray, 10%)
  border-radius 3px
  border none
  font-size 18px
  cursor pointer
  outline none
  i
    padding-left 10px
  &:hover
    text-decoration none
    background darken(gray, 20%)

.btn-blue
  @extends .btn
  color white
  background green
  &:hover
    background darken(green, 10%)
.btn-default
  @extends .btn

.btn-login
  @extends .btn
  padding 10px 15px
  color darken(gray, 50%)
  font-weight normal
  background gray
  font-size 16px
  &:hover
    color black
    background darken(gray, 10%)
  i
    padding-left 5px

// }}} END Landing

// Header {{{
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#header
  clearfix()
  padding-top 30px
  padding-bottom 30px
  nav
    text-align center
  #login-buttons
    display inline-block

#login-buttons
  #login-sign-in-link
    display block
    background gray
    color darken(gray, 40%)
    padding 8px 10px
    text-decoration none
    border-radius 3px
    &:hover
      text-decoration none
  .login-button
    background blue
    &:hover
      background darken(blue, 20%)

// }}} END Header

// New Note {{{
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#new-note
  margin-bottom 30px
  position relative
  i
    color darken(light-gray, 20%)
    font-size 30px
    position absolute
    left 10px
    top 8px
  input
    width 100%
    padding 5px 8px
    padding-left 45px
    font-size 24px
    border-radius 3px
    border 1px solid light-gray
  &.focus
    i
      color black

// }}} END New Note

// Notes {{{
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.hidden
  display none

.note
  ul.table
    display table
  li.cell
    display table-cell
  .text
    font-weight bold
    background #dadada

// Open, editting state
.note.editting
  .text-edit
    display block
  // .text
  //   display none

// }}} END Notes

// Archived Notes {{{
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.note.archived
  .text
    background red
    color white

// }}} END Archived Notes

// Footer {{{
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#footer
  padding-top 25px
  padding-bottom 25px
  border-top 1px solid darken(gray, 10%)
  background gray
  .container
    display table
    width 100%
    vertical-align middle

.footer-nav
  display table-cell
  vertical-align middle

.copy
  display table-cell
  vertical-align middle
  p
    margin 0
    color darken(gray, 30%)

// }}} END Footer

// Forms {{{
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// These styles would ideally go in their own file, but it wasn't letting me
// extend .btn that way

form
  max-width 600px
  width 100%
  margin 0 auto

input[type=text]
input[type=password]
input[type=email]
input[type=tel]
  border 1px solid gray
  padding 10px 15px
  font-size 18px
  margin-bottom 10px
  width 100%
  &:focus
    border 1px solid darken(gray, 20%)


.input-group
  position relative
  margin-bottom 10px
  i
    absolute left 10px
    line-height 43px
    font-size 20px
    text-align center
  input
    margin-bottom 0
    padding-left 40px

button[type=submit]
input[type=submit]
  @extend .btn
  padding 10px 15px
  background green
  color white
  margin-bottom 10px
  &:hover
    background darken(green, 20%)

.alert
.alert-info
  background lighten(blue, 85%)
  border 1px solid blue
  color blue
  margin-bottom 10px
.alert-warning
.alert-error
.alert-success
  @extend .alert

.alert-warning
  background lighten(yellow, 85%)
  border 1px solid yellow
  color darken(yellow, 20%)
.alert-error
  background lighten(red, 85%)
  border 1px solid red
  color darken(red, 20%)

// }}} END Forms
