template(name='contact')
  h1 Contact page bro

  form#contact
    input#email(type='email', name='email', placeholder='Email')
    textarea#message(name='message', placeholder='Message')
    button(type='submit') Send

  small.slide-down.alert.alert-success
  small.slide-down.alert.alert-error

  h2= stuff.thing
