template(name='feedback')
  +contentFor('header')
    .page-title
      h2.header-center Feedback

  form#feedback.full.form
    h3.center Use the form bellow to get in touch
    p 
      | We're always happy to hear from you. Have suggestions? Want to see a new
      | feature? Just want to get in touch? Let us know.

    .input-group
      i.fa.fa-envelope-o
      input#email(type='email', placeholder='Email')
    textarea#message(name='message', placeholder='Message')
    button(type='submit') Send

    .alert-error.slide-down
    .alert-success.slide-down
