template(name='landing')
  section#banner
    .container
      h1.super.center Note
        span.code Down
      +miniDemo(title='NoteDown' id='mini-demo')

  section#pitch
    .container
      h2.center NoteDown is a free app designed to help you keep track of everything that gets said during a call.
      +markdown
        Keeping track of what gets said over the phone can be tough. That’s why I
        created NoteDown: to help you stay organized while you’re on a call.
        NoteDown was designed to make it super easy to jot down thoughts,
        followup questions, todo items and anything else that comes to mind while
        you’re on a call. Just jot it down here and it will always be available 
        for you to review later. Best of all, it’s free!
      
      .ctas
        a.btn-blue(href='/register') Create an account
        a.btn-default(href='/offline') Use the app offline
