template(name='offline')
  +contentFor('header')
    .page-title
      h2.header-center.red Offline

  .container#demo
    #new-note
      input(type='text', placeholder='New Note...')
      i.fa.fa-edit

    if showOfflineWarning
      .alert-info.mb.mt.no-clients
        h4 Welcome to the offline app
        +markdown
          **Use the offline app all you want.** Just be aware that notes created
          here **_will not_** be saved to your permanent notes. Just a heads up.
        .controls
          a.btn-blue.small(href='/notes/me')
            i.fa.fa-plus
            | Use the app online
          a.btn-blue-o.small.close(href='#', data-session-set='showOfflineWarning')
            i.fa.fa-times
            | Got it! Now close this message.

    else if showDemoAlert
      .alert-info.mb.mt.no-clients.markdown
        h4 Welcome to the offline app
        +markdown
          Create all the notes you want. When you decide to use the app online
          you will get even more features:

          * Notes are stored permanently and backed up regularly
          * Access your notes anywhere from any device
          * Real-time syncing
          * Create notes for specific people
          * Archive notes so you can revisit them later

        .controls
          a.btn-blue-o.small.close.no-pad(href='#', data-session-set='showDemoAlert')
            i.fa.fa-times
            | Thanks! Now close this message.

    if hasDemoPowerNotes
      ul#power-notes
        if hasDemoActions
          #actions
            each actions
              +demoPowerNote

        if hasDemoQuestions
          #questions
            each questions
              +demoPowerNote

    ul#notes
      if hasDemoNotes
        each notes
          +demoNote
      else
        li.no-records
          h4 
            | You don't have any demo notes.
          p Add some using the input above.

