template(name='register')
  section#register.form-page
    .container
      +emailLogin(title='Sign Up' submit='Take me to my notes!')
      .slim
        +markdown
          Already have an account? [Sign in here.](/login)
